* {
margin: 0;
padding: 0;
}

body {
background-color: #E6E6E6;
width: 100%;
height: 100%;
}

ol, li {
list-style-position: inside;
}

code {
background-color: #E9EFF0;
border: 1px solid #CCC;
padding: 2px;
padding-left: 4px;
padding-right: 4px;
}

a {
/*font-weight: bold;*/
color: #323232;
text-decoration: none;
font-family: Helvetica, sans-serif, "NanumGothic", Arial;
}

h1, h2, h3, h4 ,h5, h6 {
font-family: "NanumGothic", Helvetica, sans-serif, Arial;
color: #323232;
text-shadow: 1px 1px 1px white;
}

h2, h3, h4, h5, h6 {
margin-top:30px;
}

h2 {
font-size: 18px;
margin-top: 40px;
}

p {
font-family: "NanumGothic", Helvetica, sans-serif, Arial;
font-size: 14px;
color: #323232;
margin-top: 20px;
margin-bottom: 20px;
line-height: 1.8em;
}

.selected {
font-weight: bold; text-decoration: none;
color: #323232;
}

#menu-list ol {
display: inline-block;
}
#menu-list li {
display: inline;
}
#menu-list {
font-family: Helvetica, sans-serif, Arial;
text-shadow: 1px 1px 1px white;
color: #323232; 
font-size: 18px;
margin-top: 10px;
}
#menu-list .seperator {
color: #969696;
}
#menu-list a {
color: #323232;
}

#recruit-ribbon {
position: absolute;
left: 0;
top: 0;
}

.content-body {
width: 96%;
max-width: 600px;
margin-left: auto;
margin-right: auto;
padding: 2%;
}

/* blog list */

.posts li, ol {
}

.list-type-none {
list-style: none;
}

/* */

/* index */
.atom-img {
vertical-align: middle; 
margin-left: 5px;
}
.logo-img {
margin-top: 10px; 
padding-right: 15px; 
vertical-align: middle;
}
.dev-blog {
font-family: arial;
font-weight: bold;
font-size: 40px;
color: white;
text-shadow: 0px 1px 1px #333;
display: inline-block;
}
.posts .post-title {
font-size: 24px;
}

/* */

/* blog */

.post hr {
margin-bottom: 20px;
}
.post-author-info {
margin-top: 20px;
margin-bottom: 20px;
font-size: 12px;
}
.post-author-info .portrait {
width: 7%;
vertical-align: middle;
}
.post-author-info .author-name {
font-size: 1.5em; 
font-weight: bold; 
margin-left: 10px;
}
.post-footer {
text-align: center; 
margin-top: 20px; 
margin-bottom: 20px;
}
.post-date {
float: right;
font-size: 0.8em;
color: #666;
margin-bottom: 10px;
}

.post a {
font-weight: bold;

}

.post img {
max-width: 100%;
display: block;
}

.post ol, ul {
line-height: 1.8em;
margin-bottom: 20px;
}

.post-title {
font-family: "NanumGothic", Helvetica, sans-serif, Arial;
font-weight: bold;
font-size: 24px;
color: #323232;
}

.post-description {
font-size: 14px;
margin-top: 20px;
margin-bottom: 10px;
line-height: 1.8em;
}

.pagination {
text-align: center;
padding: 10px;
font-family: Helvetica, sans-serif, Arial;
}
.pagination p {
display:inline;
}
.pagination span {
display: inline;
}
.pagination ul {
display: inline-block;
margin-left: 20px;
margin-right: 20px;
}
.pagination li {
display: inline-block;
}

/* blog ends */

/* about */

.author {
overflow: auto;
}
.author-info {
margin-left: 25%;
}
.member-info {
margin-top: 20px;
}
.sns img {
display: inline;
vertical-align: top;
}
.nick-name {
font-weight: bold;
font-size: 20px;
}
.author-picture {
width: 20%;
float: left;
border: 6px solid #DDD;
margin-bottom: 20px;
}

th, td{border-top:1px #dcdcdc solid; border-left:1px #dcdcdc solid;padding: 10px;}
table {border-bottom:1px #dcdcdc solid; border-right: 1px #dcdcdc solid;}

/* */

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #CCC;
}