---
layout: default
---

<h1 class="post-title margin-auto" style="font-size: 30px;">{{page.title}}</h1>

{% if page.author %}
<div class="margin-auto" style="margin-top: 20px; margin-bottom: 20px;">
    <img src="/images/profile/{{page.author}}.png" style="width: 7%; vertical-align: middle;" />
  {% if page.author-email %}
    <span style="font-size: 1.5em; font-weight: bold; margin-left: 10px;"><a href="mailto:{{page.author-email}}">{{page.author}}</a></span>  
  {% else %}
    <span style="font-size: 1.5em; font-weight: bold; margin-left: 10px;">{{page.author}}</span>  
  {% endif %}
</div>
{% endif %}

{% if page.publish == false %}
  <div class="post margin-auto">Coming soon</div>
{% else %}
  <div class="post margin-auto">{{ content }}</div>
{% endif %}
<p style="float: right;">{{ page.date | date: "%Y-%m-%d" }}</p>

<hr style="clear: both;" />
<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;"><a href="/">◀ List</a></div>

<div id="disqus_thread" class="margin-auto"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'spoqablog'; // required: replace example with your forum shortname
var disqua_identifier = '{{page.title}}';
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
